.root{
    -fx-background-color:  #383838;
}

.button {
    -fx-background-color: #7CAFC2;
    -fx-text-fill: whitesmoke;
    -fx-background-radius: 10px;
    -fx-font-size: 14px
}

.button:hover {
    -fx-background-color: whitesmoke;
    -fx-text-fill: #7CAFC2;
}

.button:pressed {
    -fx-background-color: whitesmoke;
    -fx-text-fill: #7CAFC2;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

#for-title {
    -fx-text-fill: whitesmoke;
}

.label {
    -fx-text-fill: whitesmoke;
    -fx-font-size: 16px;
}

#alone-button {
    -fx-background-color: #A1B56C;
}

#alone-button:hover {
    -fx-background-color: whitesmoke;
    -fx-text-fill: #A1B56C;
}

#randfirst-button, #randsecond-button {
    -fx-background-color: #DC9656;
}

#randfirst-button:hover, 
#randsecond-button:hover {
    -fx-background-color: whitesmoke;
    -fx-text-fill: #DC9656;
}

#aifirst-button, #aisecond-button {
    -fx-background-color: #AB4642;
}

#aifirst-button:hover, 
#aisecond-button:hover {
    -fx-background-color: whitesmoke;
    -fx-text-fill: #AB4642;
}

.dialog-pane {
    -fx-background-color: #383838;
    -fx-text-fill: whitesmoke;    
}

.dialog-pane:header .header-panel {
    -fx-background-color: #383838;
}
